services:
  # ----------------------------------------------------------------
  # 1. CORE WAF SERVICES
  # ----------------------------------------------------------------

  go_gateway:
    build: ./gateway
    container_name: go_gateway
    ports:
      - "${GATEWAY_HTTP_PORT}:80" # Required for Let's Encrypt
      - "${GATEWAY_HTTPS_PORT}:443" # Required for HTTPS
    depends_on:
      dns_db:
        condition: service_healthy
    environment:
      - MONGO_URI=${MONGO_URI}
      - ML_URL=${ML_SCORER_URL}
      - DNS_DB_HOST=${DNS_DB_HOST}
      - DNS_DB_USER=${DNS_DB_USER}
      - DNS_DB_PASS=${DNS_DB_PASS}
      - DNS_DB_NAME=${DNS_DB_NAME}
      - FRONTEND_URL=${FRONTEND_URL}
      - WAF_PUBLIC_IP=${WAF_PUBLIC_IP}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
    volumes:
      - ${CERTS_HOST_PATH}:/app/certs # Persist SSL certificates
    networks:
      - waf_net

  ml_scorer:
    build: ./ml_scorer
    container_name: ml_scorer
    ports:
      - "${ML_PORT}:8000"
    environment:
      - MODEL_PATH=${MODEL_FILE_PATH}
    networks:
      - waf_net

  dns_db:
    image: ${MARIADB_IMAGE}
    container_name: dns_sql_db
    environment:
      MYSQL_ROOT_PASSWORD: ${DNS_DB_ROOT_PASS}
      MYSQL_DATABASE: ${DNS_DB_NAME}
      MYSQL_USER: ${DNS_DB_USER}
      MYSQL_PASSWORD: ${DNS_DB_PASS}
    volumes:
      - ${SCHEMA_HOST_PATH}:/docker-entrypoint-initdb.d/schema.sql
      - dns_data:/var/lib/mysql
    healthcheck:
      test: [
          "CMD",
          "mariadb-admin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "root",
          "-p${DNS_DB_ROOT_PASS}", # Variable injection inside the healthcheck
        ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - waf_net

  pdns_server:
    image: ${PDNS_IMAGE}
    container_name: pdns_server
    ports:
      - "${PDNS_PORT}:53/udp"
      - "${PDNS_PORT}:53/tcp"
      - "${PDNS_API_PORT}:8081"
    depends_on:
      dns_db:
        condition: service_healthy
    volumes:
      - ${PDNS_CONF_HOST_PATH}:/etc/powerdns/pdns.conf
    restart: unless-stopped
    networks:
      - waf_net

volumes:
  dns_data:

networks:
  waf_net:
    driver: bridge
